<h1>
  <%= @user.nickname %>
</h1>

<ul>
<li>Nickname: <%= @user.nickname %></li>
<li>Email: <%= @user.email %></li>
<% if @user.id == current_user.id %>
<li><%= link_to "Edit", edit_user_path(current_user) %></li>
<% end %>
<li><%= link_to(@user.nickname+"'s Songlist", {:controller => "songs", :action => "showUsersSongs", :id => @user.id}, :remote => true)%></li>