<h1>
  <% if @user == current_user #differ between own and other's Songlist
  %>
    My
  <% else %>
      <%= @user.nickname + "'s " %>
  <% end %>
  Songlist
</h1>

<input id="search" type="text"/>

<div class="songlist">
  <table>
    <tr>
      <th>Songname</th>
      <th>Artist</th>
      <th>Album</th>
      <th>&nbsp;</th>
    </tr>
      <%
      #change all nil-entries to avoid errors
      @songs.each do |song|
        song.title = "unknown title" if song.title.nil?
        song.artist = "unknown artist" if song.artist.nil?
        song.album = "unknown album" if song.album.nil?
        song.tracknum = "" if song.tracknum.nil?
      end
      @songs.sort_by { |a| [a.artist, a.album, a.tracknum, a.title]
                   }.each do |song|
      %>
        <tr class="songrow">
          <td>
            <%=link_to song.title, {:controller => "songs", :action => "play", :id => song}, :remote => true%>
          </td>
          <td><%= song.artist %></td>
          <td><%= song.album %></td>
          <td><%= link_to 'comments', song, :remote => true %></td>
        </tr>
      <% end %>
  </table>
</div>

<!--
  Search for a song in the songlist. Searchstring is
  the value of textfield with id 'search'
-->
<script type="text/javascript">  
  $('#search').keyup(function()
  {
    var searchString = $(this).val().toLowerCase();
    $('.songlist table .songrow').each(function()
    {
      var items = "";
      $(this).children().each(function()    //collecting all items (title, artist, album, ...) in one string
      {
        items = items + $(this).text();
      });
      items = items.toLowerCase();
      if(items.match(searchString))         //show only the matching songs
        $(this).show();
      else
        $(this).hide();

    });
  });
</script>
