<div class="songmeta round span-12">
  <% if !@song.title.nil? && !@song.title.empty? %>
    <div class="metainfo">Title: <%= @song.title %></div>
  <% end %>
  <% if !@song.artist.nil? && !@song.artist.empty? %>
    <div class="metainfo">Artist: <%= @song.artist %></div>
  <% end %>
  <% if !@song.album.nil? && !@song.album.empty? %>
    <div class="metainfo">Album: <%= @song.album %></div>
  <% end %>
   <% if !@song.year.nil? %>
    <div class="metainfo">Year: <%= @song.year %></div>
  <% end %>
   <% if !@song.tracknum.nil? %>
    <div class="metainfo">Tracknumber: <%= @song.tracknum %></div>
  <% end %>
  <div class="clear"></div>
</div>
