<div class="songmeta round" style="width:100%; margin-left:20px; margin-top:5px; padding-left:5px; padding-right:5px">
  <% if !@song.title.nil? && !@song.title.empty? %>
    <div class="metainfo">Title: <%= @song.title %></div>
  <% end %>
  <% if !@song.artist.nil? && !@song.artist.empty? %>
    <div class="metainfo">Artist: <%= @song.artist %></div>
  <% end %>
  <% if !@song.album.nil? && !@song.album.empty? %>
    <div class="metainfo">Album: <%= @song.album %></div>
  <% end %>
   <% if !@song.year.nil? %>
    <div class="metainfo">Year: <%= @song.year %></div>
  <% end %>
   <% if !@song.tracknum.nil? %>
    <div class="metainfo">Tracknumber: <%= @song.tracknum %></div>
  <% end %>

<%= link_to "Zurück", :back %>
<%= link_to "Edit", :edit_song %>
<%= link_to 'Delete', song_path(@song),
            :confirm => 'Are you sure?', :method => :delete %>

</div>
