<h1>Audioplayer <%= @song.name %></h1>

<div style="clear:both;" />
</div>


<%= render 'songs/metainfos' %>
<br />
<%= link_to "Zurück", :back %>
<%= link_to "Edit", :edit_song %>
<%= link_to 'Delete', song_path(@song),
            :confirm => 'Are you sure?', :method => :delete %>
<% if @song.song_comments.length > 0 then %>
<h2>Comments</h2>
<%= render @song.song_comments %>
<% end %>

<div class="new_comment_container">
<h2>Add a comment:</h2>
<%= render "song_comments/form" %>
</div>

<script language="Javascript">
var audioElement = document.getElementById('audioplayer')
var out = document.getElementById('out');
var canvasTime = document.getElementById('layer1');
var audioimagecontainer = document.getElementById('audioimagecontainer');

setInterval("renderCanvasMonitor()", 500);
var i = 0;
function renderCanvasMonitor () {
  
    audioLength = audioElement.duration;
    proz = (audioElement.currentTime/audioLength) + 0.002;
    canvas_size = 650 * proz;
    canvasTime.width = canvas_size;
    
    $(".comment").each(function(index) {
    // alert($(this).attr('from'));
    // alert(audioElement.currentTime + "," + parseFloat($(this).attr('from')));
       
    if (audioElement.currentTime >= parseFloat($(this).attr('from')) &&
        audioElement.currentTime <= parseFloat($(this).attr('to')) ){
          $(this).css('background-color','#29F716');
    } else {
       $(this).css('background-color','');
    }

    });


}


</script>

<script type="text/javascript">
var from = 0;
$("#audioimagecontainer").mousedown(function(e){
  var mouseX = e.pageX - this.offsetLeft;
  from = mouseX/650
  $('#song_comment_from_duration').val(Math.round(audioElement.duration*from*100)/100);
  $('#layer3').css('margin-left',650*from);
  $('#layer3').css('width',1);

  $("#audioimagecontainer").mousemove(function(e){
  var mouseX = e.pageX - this.offsetLeft;
  var to = mouseX/650
  diff = to-from
  $('#layer3').css('width',650*diff);
  });

});


$("#audioimagecontainer").mouseup(function(e){
  var mouseX = e.pageX - this.offsetLeft;
  var to = mouseX/650
  diff = to-from
  $('#song_comment_to_duration').val(Math.round(audioElement.duration*to*100)/100);
  $('#layer3').css('width',650*diff);

  $("#audioimagecontainer").unbind('mousemove');


      $('.new_comment_container').fadeIn('slow', function() {
        // Animation complete
      });
});

</script>

