<div id="playerContainer" class="round">
<audio id="audioplayer" controls  preload songid="<%=@song.id%>">
  <source src="<%=asset_path @audio_path%>" type="audio/mp3" />
  Your browser does not support the audio element.
</audio>

<div id="audioimagecontainer" class="round" style="">

<!-- background -->
<div id="layer5"></div>

<!-- fortschritt -->
<div id="layer1"></div>
 
<!-- marker -->
<div id="layer3"></div>

<!-- comment marker -->
<div id="layer4"></div>

<!-- wavemask -->
<div id="layer2">
   <%= image_tag @audioimage_path %>
</div>

<!-- loader -->
<div id="layer6">
   <%= image_tag "loading.gif" %>
</div>

</div>

<!-- metainfos -->
<div class="metainfos">
<%= render 'songs/metainfos' %>
</div>

</div>


<script language="Javascript">
var audioElement = document.getElementById('audioplayer')
var out = document.getElementById('out');
var canvasTime = $("#layer1")
var audioimagecontainer = document.getElementById('audioimagecontainer');
var aicWidth = $("#audioimagecontainer").width();


setInterval("renderCanvasMonitor()", 500);
mem_currentTime = 0;
var i = 0;
function renderCanvasMonitor () {

    if(mem_currentTime != audioElement.currentTime){
      mem_currentTime = audioElement.currentTime;
      audioLength = audioElement.duration;
      proz = (audioElement.currentTime/audioLength) + 0.002;
      canvas_size = aicWidth * proz;
      canvasTime.width(canvas_size);
    
      $(".comment").each(function(index) {
       
      if (audioElement.currentTime >= parseFloat($(this).attr('from')) &&
          audioElement.currentTime <= parseFloat($(this).attr('to')) ){
            $(this).css('color','#29F716');
      } else {
         $(this).css('color','#ffffff');
      }

      });
    }
}


</script>

<script type="text/javascript">
var from = 0;
$("#audioimagecontainer").mousedown(function(e){
  var mouseX = e.pageX - this.offsetLeft;
  from = mouseX/aicWidth
  $('#song_comment_from_duration').val(Math.round(audioElement.duration*from*100)/100);
  $('#layer3').css('margin-left',aicWidth*from);
  $('#layer3').css('width',1);

  $("#audioimagecontainer").mousemove(function(e){
  var mouseX = e.pageX - this.offsetLeft;
  var to = mouseX/aicWidth
  diff = to-from
  $('#layer3').css('width',aicWidth*diff);
  });

});


$("#audioimagecontainer").mouseup(function(e){
  var mouseX = e.pageX - this.offsetLeft;
  var to = mouseX/aicWidth
  diff = to-from
  $('#song_comment_to_duration').val(Math.round(audioElement.duration*to*100)/100);
  $('#layer3').css('width',aicWidth*diff);

  $("#audioimagecontainer").unbind('mousemove');

  if(from == to)
  {
     audioElement.currentTime = to*audioElement.duration;
  }else{

	$.facebox({  
        	loadingImage : '/assets/loading.gif',  
        	closeImage   : '/assets/closelabel.png',
		ajax: '<%= new_song_song_comment_path(@song)%>'
	}); 
  }
      
});

</script>

<!-- Comment Box -->
<script type="text/javascript">
$(document).ready(function() {  
      
    $(document).bind('reveal.facebox', function() {  
        $('#new_song_comment').submit(function() {  
            $.post(this.action, $(this).serialize(), null, "script");  
            $.facebox.close();
	    $("#layer3").width(0);
            return false;  
        });
	    
    });   
   
    
}); 
</script>
