<!DOCTYPE html>
<html>
<head>
  <title>WaveCloud</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "facebox" %>
  <%= csrf_meta_tags %>


</head>
<body>

  <div class="container">
      
    <%= render 'layouts/header' %>
    <% if signed_in? %>
    <div id="player">
      <% if !@song.nil? %>
      <%= render 'layouts/player' %>   
      <% end %>
    </div>
    <div id="menu">
      <%= render 'layouts/menu' %>
    </div>
      <%#= render 'layouts/actualPlaylist' %>
    <% end %>
   
    <section class="span-20 round-right">
        <div id ="main">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
  
          <%= yield %>
        </div>

    </section>

    <%# if signed_in? %>
      <%#= render 'layouts/playlist' %>
    <%# end %>

    <div class="clear"></div>

    <%= render 'layouts/footer' %>
   
    <%= debug(params) if Rails.env.development? %>

  </div>




</body>
</html>
